
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color:aqua;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color:aqua;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
div{
max-width: 500px;
font-size: 32px;
margin: 0 auto;
}