<section>
@if (isLogginIn) {
    <p>hello {{username}}</p>
    <img 
    (click)="greet()"
    src="https://github.com/manuelguirado.png" alt="photo">
   }@else {
    <p>please login </p>
    <button (click)="isLogginIn = true">log in     </button>  <!-- create a status changing is loggin in or not-->
   }
<app-games 
(favGame)="getFavoriteGame($event)"
username="{{username}}"/> <!--call the function getFavoriteGame to get the favorirte game--> 

   @if (favgame !== '') {
    <p>your favorite game is {{favgame}} </p>   <!-- depends your favorite game send a different message for example if you click the unchecked game the message will be different-->
   }
</section>




